.plug{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    z-index: 100;
}
.button{
    width: 10rem;
    height: 20rem;
    background-color: white;
}
.warning{
    color: #fff;
    font-size: 3.5vh;
    padding-left: 4vh;
    font-family: 'gotham-medium';
}
.plug-video{
    position: absolute; 
    top: 0;
    width: 100%;
    overflow-y: hidden;
     height: 110%;
    z-index: 101;
    background-color: rgb(0, 0, 0);
}
.video{
    width: 70vh;
    margin-left: -15vh;
    object-fit: cover;
    object-position: center;
}
.plug-video_wrapper{
    padding-top: 5vh;
    overflow-y: none;
    display:flex ;
    justify-content: center;
    position: absolute; 
    top: 0;
    width: 100%; height: 100%;
    z-index: 102;
 
}
.touched-icon{
    width: 5vh;
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(1263%) hue-rotate(231deg) brightness(119%) contrast(100%);
    animation: exampleAnimation 2s infinite;
}
.touched-text{
    animation: textAnimation 2s infinite;
    color: #fff;
    font-size: 1.5vh;
    padding-top: 2vh;
    font-family: 'gotham-medium';
    
}
.touched{
    bottom: 7vh;
    position: absolute;
    display: flex;
    align-items: center;
    max-height: 5vh;
}
@keyframes exampleAnimation {
    0% {
        
    }
    50% {
        transform: scale(0.7);
    }
    100% {
      
    }
  }

  