<div routerLink="/veteran/{{veteran.id}}" class="card">


    <ng-container *ngIf="veteran.photos.length > 0;">
        <ng-container *ngIf="!veteran.photos[0].local">
            <div style="background-image: url('{{veteran.photos[0].url}}');" class="card-header"></div>
        </ng-container>

        <ng-container *ngIf="veteran.photos[0].local">
            <div style="background-image: url('{{protocol}}://{{host}}:{{port}}{{veteran.photos[0].url}}');" class="card-header"></div>
        </ng-container>


    </ng-container >

    <ng-container *ngIf="!veteran.photos.length">
        <div *ngIf="!veteran.rubrics.length" style="background-image: url('assets/imgs/nophoto.jpg');" class="card-header"></div>
        <div *ngIf="veteran.rubrics.length" style="filter: grayscale(100%); background-image: url('{{protocol}}://{{host}}:{{port}}{{veteran.rubrics[0].image}}');" class="card-header"></div>
    </ng-container >

    <div>
        <div class="card-footer">
            <div class="card-footer-last-name">
              <span class="card-footer-last-name-first-letter">{{ veteran.last_name[0] }}</span>{{veteran.last_name.slice(1, veteran.last_name.length)}}
            </div>

            <div class="card-footer-name">
            {{veteran.first_name}}
            <div>
                {{veteran.middle_name}}
            </div>

            </div>

        </div>
    </div>
</div>
