<div (click)="cardClick()" class="card">
    <!-- routerLink="/veteran/{{veteran.id}}"  -->

    <ng-container *ngIf="veteran.photo">
        <ng-container>
            <div style="background-image: url('{{ checkUrl(veteran.photo)}}');" class="card-header"></div>
        </ng-container>

    </ng-container >

    <ng-container *ngIf="!veteran.photo || !veteran.photo.length">
        <div *ngIf="!veteran.rubrics.length" style="background-image: url('assets/imgs/nophoto.jpg');" class="card-header"></div>
        <div *ngIf="veteran.rubrics.length" style="filter: grayscale(100%); background-image: url('{{protocol}}://{{host}}:{{port}}{{veteran.rubrics[0].image}}');" class="card-header"></div>
    </ng-container >

    <div>
        <div class="card-footer">
            <div class="card-footer-last-name">
              <span class="card-footer-last-name-first-letter">{{ veteran.last_name[0] }}</span>{{veteran.last_name.slice(1, veteran.last_name.length)}}
            </div>

            <div class="card-footer-name">
            {{veteran.first_name}}
            <div>
                {{veteran.middle_name}}
            </div>

            </div>

        </div>
    </div>
</div>
