
@media (orientation:portrait) {
    .letter-filter-item{ 
        font-size: 1.5vh;
        padding-right: 0.7vh;
        font-family: 'gotham-bold';
        text-decoration: none;
        list-style-type: none;
        color: #fff;
    }

    .letter-filter-item_active{ 
        font-size: 1.5vh;
        padding-right: 0.7vh;
        font-family: 'gotham-bold';
        text-decoration: none;
        list-style-type: none;
        color: #ff0000;
    }
}


@media (orientation: landscape) {

    .letter-filter-item{
        font-size: 2vh;
        padding-right: 1vh;
        font-family: 'gotham-bold';
        text-decoration: none;
        list-style-type: none;
        color: #fff;
    }
    .letter-filter-item_active{
        font-size: 2vh;
        padding-right: 1vh;
        font-family: 'gotham-bold';
        text-decoration: none;
        list-style-type: none;
        color: #ff0000;
    }
    
}

