<div (click)="canceledRequest()" class="card">
 
 
    <ng-container *ngIf="veteran.photos.length">
        <ng-container *ngIf="!veteran.photos[0].local">
            <div style="background-image: url('{{veteran.photos[0].url}}');" class="card-header"></div>
        </ng-container>

        <ng-container *ngIf="veteran.photos[0].local">
            <div style="background-image: url('{{protocol}}://{{host}}:{{port}}{{veteran.photos[0].url}}');" class="card-header"></div>
        </ng-container>

        
    </ng-container >

    <ng-container *ngIf="!veteran.photos.length">
        <div *ngIf="!veteran.rubrics.length" style="background-image: url('assets/imgs/nophoto.jpg');" class="card-header"></div>
        <div *ngIf="veteran.rubrics.length" style="background-image: url('{{protocol}}://{{host}}:{{port}}{{veteran.rubrics[0].image}}');" class="card-header"></div>
    </ng-container >

    <div>
        <div class="card-footer">
            <div class="card-footer-last-name">
                {{veteran.last_name}}
            </div>
            
            <div class="card-footer-name">
            {{veteran.first_name}}
            <div>
                {{veteran.middle_name}}
            </div>
    
            </div>
    
        </div>
    </div>
</div>
