
@media (orientation:portrait) {
    .card{
        min-width: 28vw;
        cursor: pointer;
        height: 16vh;
        position: relative;
        overflow: none;
        background-color: #fff;
     }
     .card-header{
      height: 25vh;
  }
    .card-header{
        background-repeat: no-repeat;
        background-size: cover;
        height: 80%;
        background-position: top;
        width: 100%;
    }
}


@media (orientation: landscape) {
    .card{
        cursor: pointer;
        position: relative;
        overflow: none;
        width: 20vw;
        height: 52vh;
        background-color: #fff;
     }
     .card-header{
      height: 40vh;
  }
  .card-footer-name{
    display: flex;
    gap: 0.4vh;
  }
  .card-header{
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    background-position: top;
    width: 100%;
}
}





.card-footer{
    background-color: #fff;
    font-family: 'gotham-bold';
    color: rgb(31, 31, 31);
    font-size: 1.5vh;
    padding-top: 0.6vh;
    text-align:start;
    padding-left: 0.3vh;
    padding-bottom: 1vh;
}
.card-footer-last-name{
    font-family: 'gotham-bold';
    color: rgb(0, 0, 0);
    font-size: 2.2vh;
    padding-top: 0.3vh;
    text-align:start;
    display: flex;

}
.card-footer-name{
    font-family: 'gotham-medium';
    color: rgb(0, 0, 0);
    font-size: 1.8vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    text-align:start;
}
.card-footer-date{
    padding-bottom: 0.5vh;
    display: flex;
}

.card-footer-last-name-first-letter{
  color: red;
}
