
@media (orientation:portrait) {
    .card{
        width: 24vw;
        cursor: pointer;
        position: relative;
        overflow: none;
        background-color: #fff;
     }
     .card-header{
      height: 15vh;
  }
    .card-header{
        background-repeat: no-repeat;
        background-size: cover;

        background-position: top;
        width: 100%;
    }
    .card-footer{
        
        padding-top: 0.6vh;
        text-align:start;
        padding-left: 0.3vh;
        padding-bottom: 0.1vh;
    }
}


@media (orientation: landscape) {
    .card{
        cursor: pointer;
        position: relative;
        overflow: none;
        width: 13vw;
        height: 28vh;
        background-color: #fff;
     }
     .card-header{
      height: 40vh;
  }
  .card-footer-name{
    display: flex;
    gap: 0.4vh;
  }
  .card-header{
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    background-position: top;
    width: 100%;
}
.card-footer{
    margin-top: -2vh;
    background-color: #fff;
    font-family: 'gotham-bold';
    color: rgb(31, 31, 31);
    font-size: 1.5vh;
    padding-top: 0.6vh;
    text-align:start;
    padding-left: 0.3vh;
    padding-bottom: 0.1vh;
}
}






.card-footer-last-name{
    font-family: 'gotham-bold';
    word-wrap: break-word;
    // color: rgb(0, 0, 0);
    font-size: 1.8vh;
    // padding-top: 0.3vh;
    // text-align:start;

}
.card-footer-name{
    font-family: 'gotham-medium';
    color: rgb(0, 0, 0);
    font-size: 1.5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    text-align:start;
}
.card-footer-date{
    padding-bottom: 0.5vh;
    display: flex;
}

.card-footer-last-name-first-letter{
  color: red;
}
