
@media (orientation:portrait) {
     .card-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 24vw);
        margin-top: 3vh;
        grid-gap: 2vh 2vh;
        max-height: 60%;
        overflow-y: auto;
        height: 45.5vh;
        justify-content: center;
    }
    .not-found{
        padding-top: 1em;
        color: #fff;
        font-family: 'gotham-bold';
        text-transform: uppercase;
        font-size:2vh;
        width: 95%;
        position: absolute;
        padding-left: 2vh;
    }
}


@media (orientation: landscape) {
    .card-grid{
        width: 75%;
        margin: auto;
        max-height: 60vh;
        overflow-y: auto;
        margin-top: 2vh;
        display: grid;
        grid-template-columns: repeat(4, 13vw );
        grid-gap: 2vh 4vh;
        align-items: center;
        justify-content: center;
    }

}
