

.content-wrapper{

}
.title{
    color: #fff;
    font-family: 'gotham-bold';
    font-size: 4vh;
    margin-bottom: 2rem;
}
.iframe {
    width: 1920px;
    height: 1080px;
    transform: scale();
    transform-origin: top left;
  }