

.content-wrapper{
    background-color: #fff;
    height: 100vh;
}
.title{
    color: #fff;
    font-family: 'gotham-bold';
    font-size: 4vh;
    margin-bottom: 2rem;
}
.iframe {
    width: 100%;
    height: 60%;
    // transform-origin: top left;
  }
  .content{
    padding-top: 7vh;
  }