

.content-wrapper{
    background-color: #fff;
    height: 100vh;
}
.title{
    color: #fff;
    font-family: 'gotham-bold';
    font-size: 4vh;
    margin-bottom: 2rem;
}
.iframe {

    width: 1920px;
    height: 964px;

    transform-origin: top left;
  }