
<main>

   <div>

   </div>
    <section class="content">
        <div routerLink="/home" class="back-button">
            <img class="back-button-img" src="assets/icons/arrow.svg" alt="">
        </div>
        <ng-container *ngIf="rubric">
            <div class="rubric-name">
                <span>{{rubric.subtitle}}</span>
            </div>
        </ng-container>
      
       <div>
            <div class="search">
                <div>
                    <div class="search-title">
                        Поиск человека
                    </div>

                    <div class="input-wrapper">
                        <input (input)="onInputChange($event)" class="input" value={{value}}/>
                        <div>   
                            <button (click)="searchVeteranName()" class="search-button">Найти</button>
                        </div>
                   
                    </div>
                    
                    <div>
                        <div style="" class="simple-keyboard"></div>
                    </div> 
                </div>
                
            
            </div>
       </div>
        
        <div class="letter-filter-wrapper">
            <div class="letter-filter">
                <ng-container *ngFor="let letter of letterArray">
                    <app-letter [letter]="letter"></app-letter>
                </ng-container>
            </div>
        </div>

       <app-card-grid [veterans]="veteranArray"></app-card-grid>
       
    </section>
</main>
       
