
<main>

   <div>

   </div>
    <section class="content">
      
        <ng-container *ngIf="rubric">
            <div class="rubric-name">
                <span>{{rubric.subtitle}}</span>
            </div>
        </ng-container>
      
       <div>
            <div class="search">
                <div>
                    <div class="search-title">
                        Поиск человека
                    </div>

                    <form [formGroup]="formSearch" class="input-wrapper">
                            <input formControlName="name" (input)="onInputChange($event)" class="input" value={{value}}/>
                        <div>   
                            <button type="submit" (click)="searchVeteranName()" class="search-button">Найти</button>
                        </div>
                   
                    </form>
                    
                    <div>
                        <div style="" class="simple-keyboard"></div>
                    </div> 
                </div>
                
            
            </div>
       </div>
        
        <div class="letter-filter-wrapper">
            <div class="letter-filter">
                <ng-container *ngFor="let letter of letterArray">
                    <app-letter [letter]="letter" (letterChanged)="changeLetter($event)"></app-letter>
                </ng-container>
            </div>
        </div>

       <app-card-grid [veterans]="veteranArray"></app-card-grid>
       
    </section>
</main>
       
