

@media (orientation: landscape) {
    .video{
        margin: auto;
        width: 50vw;
        height: 50vh;
        object-fit: fill;
     }

     .video-wrapper{
        display: flex;
        justify-content: center;
         object-fit: cover;

     }
     .button-grid-item{
        cursor: pointer;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: fill;
        width:12vw;

        background-color: #fff;
        height: 16vh;
        border-radius: 2vh;
    }
    .button-grid{
        margin-top: 2vw;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        justify-content: center;
        grid-gap: 1em 6vw;
   }
}


@media (orientation:portrait) {
    .button-grid-item{
        cursor: pointer;
        background-size: cover;
        background-position: center;
        margin-left: 10vw;
        object-fit: fill;
        min-width: 25%;
        border-radius: 2.5vh;
        height: 14vh;
        background-color: #fff;
    }
    .button-grid-item__reversed{
        cursor: pointer;
        background-size: cover;
        background-position: center;
        margin-right: 10vw;
        object-fit: fill;
        min-width: 25%;
        border-radius: 2.5vh;
        height: 14vh;
        background-color: #fff;
    }
    .video{
        margin: auto;
        width: 100vw;
        height: 40vh;
        object-fit: fill;
     }

     .video-wrapper{
        display: flex;
        justify-content: center;
         object-fit: cover;
     }
  
}

.button-grid-item_text{
    margin-top: 0.5vh;
    color: #fff;
    margin-right: 10vw;
    font-family: 'gotham-bold';
    font-size: 1.1vh;
}
.button-grid-item_text__reversed{
    margin-top: 0.5vh;
    color: #fff;
    margin-left: 10vw;
    font-family: 'gotham-bold';
    font-size: 1.1vh;

}
.button-wrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 5vw;
    padding-bottom: 1vh;
    border-bottom: 0.2vh solid #838282be;
}
.button-wrapper__reverse{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    gap: 5vw;
    padding-bottom: 1vh;
    border-bottom: 0.2vh solid #838282be;
}

// flex-flow: row-reverse;