
<main>

    <div>
 
    </div>
     <section class="content">
      <div class="content-info">
        <div class="rubric-name">
          <span class="rubric-name-text">
             Как сюда добавить или изменить информацию?
          </span>
       
      </div>
        <div class="contacts-descripton">
          Вы можете добавить или изменить информацию про своих родных и близких на стене памяти Заречного обратившись в Краеведческий музей.
        </div>
        <div class="contact-item">
          Телефон: +7 (34377) 7-34-07
        </div>
        <div class="contacts-position">
            <span class="contacts-position-adress-text">
              Музей находится по адресу:г. Заречный, ул. Островского 6,
            </span>
            <div class="contacts-position-adress-map-wrapper">
              <div style="background-image: url('assets/imgs/map-muzeum.png');" class="contacts-position-adress-map"></div>
              <div class="qrcode-wrapper">
                <img class="qrcode-image" src="assets/imgs/qr-map.svg" alt="phone">
                <div class="qrcode-text">Как добраться</div>
              </div>
            </div>
           
        </div>
        <div class="contacts-descripton">
          Или прислать материалы по электронной почте:
        </div>
        <div class="contact-item">
         
        </div>
        <div class="qrcode-wrapper">
          <img class="qrcode-image" src="assets/imgs/qr-mail.svg" alt="phone">
          <div class="qrcode-text"> muzeizar&#64;yandex.ru</div>
        </div>
      </div>
       
       <div class="back-button-wrapper">
         <app-back-button></app-back-button>
       </div>
     </section>
   
 
     
 </main>
 
 