
<main>

   <div>

   </div>
    <section class="content">
      <div class="back-button-wrapper">
        <app-back-button></app-back-button>
      </div>
      
      <ng-container *ngIf="rubric">
        <div class="rubric-name">
            <span>
              {{rubric.subtitle}}
            </span>
        </div>
    </ng-container>
       <app-card-grid [notFound]="notFound" (cardEmitt)="openVeteranShow($event,showModal)" [veterans]="veteranArray" (scrollEdgeEvents)="paginateSubmit()"></app-card-grid>
    </section>
   <div #showModal class="veteran-show-wrapper background">
        <div class="veteran-show-back">
            <div class="back-button-wrapper">
                <app-back-button (click)="hideShow(showModal)" [notBack]="true"></app-back-button>
            </div>
          
            <app-veteran-show *ngIf="veteranShowHero" [url]="url" [veteran]="veteranShowHero"></app-veteran-show>
        </div>
    </div>
     <div>
      <div class="letter-filter-wrapper">
        <div class="letter-filter">
            <div (click)="clearLetter()" class="clear-filter">
                <ng-container *ngIf="letterActive == ''">
                    <div class="clear-filter-text_active">
                        все
                    </div>
                </ng-container>
                <ng-container *ngIf="letterActive !== ''">
                    <div class="clear-filter-text">
                        все
                    </div>
                </ng-container>

            </div>
            <ng-container *ngFor="let letter of letterArray">
                <app-letter [letter]="letter" (letterChanged)="changeLetter($event)"></app-letter>
            </ng-container>
        </div>
    </div>
          <div class="search">
              <div>
                  <form [formGroup]="formSearch" class="input-wrapper">
                          <input placeholder="поиск по фамиилии" formControlName="name" (input)="onInputChange($event)" class="input" value={{value}}/>
                           <button class="clear-name" (click)="clearButton()">
                               <img class="clear-name-icon" src="/assets/icons/clear.svg" alt="">
                           </button>
                      <div>
                          <button type="submit" (click)="searchVeteranName()" class="search-button">Найти</button>
                      </div>
                  </form>

                  <div>
                      <div class="simple-keyboard"></div>
                  </div>
              </div>
          </div>
     </div>

</main>

