.back-button{
    position: absolute;
    top: 10vh;
    z-index: 100;
    border: 0.2vh solid rgb(59, 59, 59);
}

.pdf-wrapper {
  padding-top: 4vh;
}


@media(orientation: landscape) {
  .pdf-wrapper-content{
    width: 60%;
  }
  .pdf-wrapper {
    padding-top: 10vh;
  }

}
.pdf-wrapper-content{
  width: 80%;
  height: 63vh;
  margin-left: auto;
  margin-right: auto;
}

.back-button-wrapper{
  padding-top: 3vh;
  padding-left: 10vh;
  color: #fff;
  font-family: 'gotham-bold';
  text-transform: uppercase;
  font-size:1.1vw;
  width: 70%;
}

@media (orientation:portrait) {
  .back-button-wrapper {
    padding-left: 1vh;
  }
 }
