/* You can add global styles to this file, and also import other style files */
@import 'simple-keyboard/build/css/index.css';

* {
    user-select: none;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
body,html{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
}
.background{
  background:url('assets/imgs/army-documents.png');
  background-size:100vw 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (orientation:portrait) {
  .background{
    background:url('assets/imgs/army-documents.png');
    background-size:100vh 100%;
    background-position: center;
    background-repeat: no-repeat;}
    body{
        background:url('assets/imgs/army-documents.png');
        background-size:100vh 100%;
        background-position: center;
        background-repeat: no-repeat;
    }



.simple-keyboard.hg-theme-default {

    .hg-theme-default .hg-row {
      display: flex;
      justify-content: center;
    }
  }

  .hg-theme-default .hg-row {
    display: flex;
    justify-content: center;
}

  .hg-button.hg-functionBtn.hg-button-space{
      max-width: 80%;
  }

  .hg-theme-default .hg-button {
      height: 3vh;
      font-family: 'gotham-medium';
      font-size: 1.3vh;
  }
  .content{
      padding-top: 5vh;
  }
  .simple-keyboard.hg-theme-default {
      border-radius: 10px;
      width: calc(100% - 20px);
      display: block;
      grid: none;
  }
}
@media (orientation: landscape) {
    body{
        background:url('assets/imgs/army-documents.png');
        background-size:100% 150vh;
        background-position: center;
        background-repeat: no-repeat;
    }

.simple-keyboard.hg-theme-default {

    .hg-theme-default .hg-row {
      display: flex;}
  }

  .hg-button.hg-functionBtn.hg-button-space{
      max-width: 80%;
  }

  .hg-theme-default .hg-button {
      height: 4vh;

      font-family: 'gotham-medium';
      font-size: 1.3vh;
  }
  .content{
      padding-top: 5vh;
  }
  .simple-keyboard.hg-theme-default {
      border-radius: 10px;
      width: calc(100% - 20px);
      display: block;
      grid: none;
  }
}

*:focus, *:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
*{
    margin: 0;
}
@font-face {
    font-family: 'gotham-bold';
    src: url('assets/fonts/gothampro_bold.ttf');
}
@font-face {
    font-family: 'gotham-medium';
    src: url('assets/fonts/gothampro_medium.ttf');
}
@font-face {
    font-family: 'gotham-light';
    src: url('assets/fonts/gothampro_light.ttf');
}


@font-face {
    font-family: 'quadratGrotesk';
    src: url('assets/fonts/QuadratGroteskNew.otf');
}


