
@media (orientation:portrait) {
     .card-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 28vw);
        margin-top: 1vh;
        grid-gap: 2vh 2vh;
        max-height: 60%;
        overflow-y: auto;
        height: 45.5vh;
        justify-content: center;
    }
}


@media (orientation: landscape) {
    .card-grid{
        width: 75%;
        margin: auto;
        max-height: 60vh;
        overflow-y: auto;
        margin-top: 2vh;
        display: grid;
        grid-template-columns: repeat(4, 13vw );
        grid-gap: 2vh 4vh;
        align-items: center;
        justify-content: center;
    }

}
