.back-button{
    z-index: 100;
    cursor: pointer;
}

.back-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'gotham-bold';
    text-transform: uppercase;
    font-size:1.3vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background: rgb(148, 5, 5);
    
}

.back-button-image {

}


.back-button-text{

}
.img{
  margin-left: -32%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
}